*{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
html{
    height:100%;
    width:100%;
    background-color: #ececec;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Laksaman', sans-serif;
}
nav{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
#burgerButton{
    position: absolute;
    top:40%;
    right:5%;
    width: 24px;
    height: 4px;
    background: black;
    z-index: 1000;

}
#burgerButton::before, #burgerButton::after {
    content: "";
    display: block;
  }
#burgerButton, #burgerButton::before, #burgerButton::after {
    position: absolute;
    width: 24px;
    height: 4px;
    background: black;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#burgerButton::before {
    margin-top: -8px;
}
#burgerButton::after {
    margin-top: 8px;
}
#burgerButton:hover::before {
    margin-top: 0px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
#burgerButton:hover::after {
    margin-top: 0px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
nav img{
    width:100px;
    height:100px;
}
#hamburger{
    display:none;
    position: absolute;
    background-color:rgba(119, 136, 153, 0.63);
    z-index: 9;
    width:100%;
    height:100%;
}
ul{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
li{
    font-size:6em;
    color:white;
}
.slider-wrapper{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.slide1 {
    left: 0;
  }
.slide2 {
    left:100%;
  }
.slide3{
    left:200%;
}
.slide4{
    left:300%;
}
/* Slide 1 */ 
.slider1content{
    display:flex;
    position: unset;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    height:100%;
}
.circle{
    position:absolute;
    width:12em;
    height:12em;
    border-radius: 50%;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    margin:auto;
    z-index:2;
    background-image: url("img/self.jpeg");
    background-size: cover;
}
.slider1content img{
    position:absolute;
    width:25em;
    height:18em;
    z-index:1;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    margin:auto;
    transform: rotate(-40deg);
}
h1{
    background-color:white;
    padding:8px;
    position:absolute;
    width:10em;
    height:2em;
    text-align: center;
}
#work h1{
    z-index:3;
    font-size:1.5em;
    top:30%;
    right:30%;
}
#name h1:first-of-type{
    z-index:3;
    font-size:1.5em;
    top:60%;
    right:20%;
}
#name h1:last-of-type{
    z-index:3;
    font-size:1.5em;
    top:69%;
    right:10%;
}
.pagination{
    position:absolute;
    z-index:3;
    bottom: 30px;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
}
#pagination{
    font-size:2em;
}
hr{
    margin-left:auto;
    margin-right:auto;
    width:3em;
    height:1px;
    background-color:black;
}
/* Slider 2 */ 
.slider2content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects{
    margin:1%;
    position:relative;
}
.details{
    display:flex;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    margin: auto;
    width:130px;
    height:130px;
    background-color:white;
    border-radius: 50%;
}
.details h3{
    z-index:3;
    text-align: center;
}
.hoverImg{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.514);
}
.details.five{
    background-size:cover;
}
.projects img{
    width:160px;
    height:140px;
    transform: rotate(-30deg);
} 
/* Slider 3 */
.slider3content{
    display:flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    height:100%;
}
#competences{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.comp{
    display:flex;
    position: relative;
    width:100%;
    height:6em;
    justify-content: space-around;
}
.comp h2{
    text-align: center;
    align-self: center;
    letter-spacing: 0.4em;
    font-size:1.2em;
}
.comp h2:hover{
    color:white;
}
.comp h2:active{
    color:white;
}
.comp img{
    position: absolute;
    width:24em;
    height:6em;
    z-index: -1;
}
/* modal compétences */ 
.hoverComp{
    display:none;
    flex-direction: column;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.63);
    z-index:2;
    width:100%;
    height:100%;
    align-content:center;
}
.hoverComp img{
    margin:auto;
    width:22em;
    height:30em;
}
.modalHover{
    display: flex;
    position: absolute;
    z-index: 4;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    justify-content: space-around;
}
.contentModal{
    display:flex;
    width:20em;
    flex-wrap:wrap;
    flex-direction: column;
    margin:auto;
    text-align: center;
    color:white;

}
.contentModal h2{
    background-image: url('img/peinturejaune.png');
    background-size: 100% 100%;
    padding:20px;
    margin:5px;
    font-size:1em;
    
}
/* Slider 4 */ 

.slider4content{
    position:relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    height:60%;
    width:70%;
    background-color:white;
    box-shadow: 40px 16px black;
}
.sectionXP{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    z-index: 4;
    width:100%;
    height:50%;
    bottom:-1.5em;
    right:-1.5em;
    background-color: #f6bc31ff;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(121, 121, 121, 0.685);
}
#oneXP{
   top:-1.5em;
   left:-1.5em; 
}
.title{
    margin:0;
    padding:0;
}
.dateXP{
    border:5px solid white;
    text-align: center;
    width:16em;
    height:2.5em;
    color:white;
    font-weight: bold;
}
.titleSection{
    position:absolute;
    top:-1.5em;
    left:0;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5em;
    color:gray;
}
.titleXP{
    text-align: center;
}
/* Slider effect */

#slider1{
    position: absolute;
    z-index: 8;
    bottom:2%;
    left:40%;
}
#slider2{
    position: absolute;
    z-index: 8;
    bottom:2%;
    left:45%;
}
#slider3{
    position: absolute;
    z-index: 8;
    bottom:2%;
    right:45%;
}
#slider4{
    position: absolute;
    z-index: 8;
    bottom:2%;
    right:40%;
}

.slide-radio1:checked,
.slide-radio2:checked {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}
.slide-radio1:checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

/* FORM CSS */ 
main{
    display:flex;
    height:100%;
    width:100%;
    justify-content: space-around;
}
form{
    position:relative;
    width:20em;
    height:30em;
    background-color:white;
    margin: auto;
    box-shadow: 20px 16px #f6bc31ff;
}
#contentForm{
    display:flex;
    flex-direction: column;
    margin:1em;
}
#formTitle{
    position:absolute;
    background-color:black;
    top:-2em;
    left:-1em;
    color:white;
    font-weight: bold;
    padding:10px;
    box-shadow: 0px 0px 20px rgba(121, 121, 121, 0.685);
}
form input, form textarea{
    border:none;
    border-bottom: 1px gray solid;
    background-color:transparent;
}
#submit{
    border:1px solid gray;
    width:5em;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
}
#submit:active{
    background-color:black;
    color:white;
}